<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Show</title>
  </head>
  <body>
      <h1>User: <%= @user.first_name %> <%= @user.last_name %></h1>
      <h4><%= @user.email %></h4>
  </body>
</html>
